@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,900");
@import url("https://fonts.googleapis.com/css?family=Mukta+Malar");
p, span, blockquote, a, button {
  font-family: 'Mukta Malar', sans-serif;
}

header {
  width: 100%;
  padding-top: 12px;
}
header .logo {
  width: 200px;
  height: 60px;
  background-image: url("../img/logo-cronapp-h.png");
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
}
header nav {
  width: 40%;
  float: right;
}
header nav ul {
  margin: 0px;
  padding: 0px;
}
header nav ul li {
  margin: 0px 0px 0px 20px;
  padding: 0px;
  float: left;
  list-style: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header nav ul .dsklinks {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  header nav ul .btn-entrar {
    padding: 5px 42px;
    margin-top: 10px;
  }
}
header nav ul .text-link {
  margin-top: 7px !important;
}

.intro {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYmIxZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(30%, #ffffff), color-stop(100%, #3bb1ff));
  background-image: -moz-linear-gradient(#ffffff 30%, #3bb1ff);
  background-image: -webkit-linear-gradient(#ffffff 30%, #3bb1ff);
  background-image: linear-gradient(#ffffff 30%, #3bb1ff);
  min-height: 200px;
}
.intro h1 {
  color: #333;
  font-size: 3em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.intro p {
  text-align: center;
}
.intro .col-md-10--mostrador {
  float: none;
  margin: auto;
  min-height: 200px;
  background: #333;
  border: 2px solid ligthen(#333, 20%);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .intro .col-md-10--mostrador {
    display: none;
  }
}

.leads {
  background: #1b527c;
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 200px;
}
.leads h2 {
  color: white;
  font-size: 4.2em;
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .leads h2 {
    font-size: 2em;
    text-align: center;
  }
}
.leads p {
  color: white;
  text-align: left;
  padding-right: 14px;
  font-size: 2.8em;
  margin-top: 45px;
  line-height: 32pt;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .leads p {
    text-align: center;
  }
}
.leads .welcome h3 {
  font-family: 'Mukta Malar', sans-serif;
  margin-top: 0px;
  color: #666666;
  text-align: center;
}
.leads .form-lead {
  background: white;
  padding: 20px;
  border-radius: 4px;
}
.leads .form-lead .btn-lead {
  background: #3399cc;
  color: white;
  font-size: 1.2em;
  transition: background-color ease 0.7s;
}
.leads .form-lead .btn-lead:hover {
  background: #1f5c7a;
}

.tecnologias {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url("../img/tecnologias.png");
  background-repeat: no-repeat;
  background-position: 110px 60px;
  background-size: 500px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .tecnologias {
    background-image: url("../img/tecnologias_alpha.png");
  }
}
.tecnologias h2 {
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
}
.tecnologias p {
  margin-top: 45px;
  font-size: 1.2em;
}

footer {
  background: #333;
  padding-top: 70px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  list-style: none;
  float: left;
  margin-right: 15px;
  color: white;
}

.slide-comb .divider {
  width: 10px !important;
  background-color: #6699ff !important;
}
.slide-comb .divider .arrows {
  width: 70px;
  height: 30px;
  background: url("../img/arrows.png") no-repeat center;
  position: absolute;
  left: -30px;
  top: 200px;
}

.logo {
  width: 200px;
  height: 60px;
  background-image: url("../img/logo-cronapp-h.png");
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
}
