div.slide-comb {
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
}
div.slide-comb img {
	width: 100%;
	height: 100%;
}
div.slide-comb .resized {
	position: absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 50%;
	overflow: hidden;
}
div.slide-comb .divider {
	position: absolute; 
	left: 50%;
	top: 0;
	bottom: 0;
	width: 4px;
	margin-left: -2px;
    background: rgba(0,0,0,.5);
    
    .arrows {
        width:100px; 
        height:30px; 
        background:red; 
        position:absolute; 
        left:-40px; 
        top:200px;        
    }
}

@media (max-width: 767px) {
	div.slide-comb {
		width: 300px;
		height: 200px;
	}
}